# Generated build and Python artifacts.
.build/
dist/
__pycache__/
*.pyc
*.log
*.stackdump
chip/wl82/AC79_AIoT_SDK/cpu/wl82/liba/libmatter.a
chip/wl82/AC79_AIoT_SDK/cpu/wl82/tools/*.bc
chip/wl82/AC79_AIoT_SDK/cpu/wl82/tools/sdk.map
chip/wl83/AC792_SDK/sdk/cpu/wl83/tools/*.bc
chip/wl83/AC792_SDK/sdk/cpu/wl83/tools/*.txt
chip/wl83/AC792_SDK/sdk/cpu/wl83/tools/sdk.map
chip/wl83/AC792_SDK/sdk/cpu/wl83/sdk.ld
